
 .row {
   text-align: center;
   padding: 30px;
   margin-left: 120px;
 }

header {
  text-align: center;
  background-color: #b3f0ff;
  padding: 30px;
}

.panel {
  border-color: black;
  margin: 5px;
  width: 200px;
  height: 200px;

}

.modal-header {
  background-color: #b3f0ff;
}

.container {
  margin-left: auto;
}


.glyphicon {
  margin-top: 10px;
  font-size:120px;
  display: block;
  text-align: center;
  color: red;
}
